@import url('https://fonts.googleapis.com/css?family=Comfortaa');
body{
    font-family: 'Comfortaa',cursive;
    margin: 0 auto;
    background-color: teal;

}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px
}


.request{
    text-align: center;

}

.request span{
    color: #fff;
}


.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #13bea6;
    overflow-x: hidden;
    padding-top: 50px;
}
.sidenav a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: 300;
    display: block;
    transition: all 0.5s ease-in-out;
}

.sidenav a:hover {
    background: #282639;
    border-left: 5px solid #92cf48;
    padding: 10px 20px 10px 15px;
}

.active {
    background: #282639;
    border-left: 5px solid #92cf48;
    padding: 10px 20px 10px 15px;
}

.sidenav .fa {
    color: white;
    font-size: 1.4em;
    margin-right: 0.8rem;
    display: inline-block;
    width: 30px;
    position: relative;
    top: 2px;
}

a:hover .fa {
    color: #92cf48;
}

table {
    width: 100%;
    margin-left: 90px;
}

thead {
    background: #13bea6;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

th {
    font-size: 0.8rem;
    padding: 10px 10px;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    text-align: left;
}

tbody {
    background: white;
    font-size: 0.8rem;
}

td {
    padding: 10px 10px;
}

select{
    border: None;
    background: white;
}

/* @media(max-device-width:1024px) */




@media only screen and (max-width: 1024px){
    .request{
        font-size: 14px;
        text-align: right;
    }
    .sidenav{
        width: 92px;
        font-size: 14px;
    }

    .sidenav a{
        padding: 10px 7px;
    }
     .sidenav .fa {
         display: none;
     }


    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;

    }

    table{
        margin-left: 64px;
        width: 80%;
    }
    	/* Hide table headers (but not display: none;, for accessibility) */

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }


    td:nth-of-type(1):before {
        content: "Name";
    }

    td:nth-of-type(2):before {
        content: "ID";
    }

    td:nth-of-type(3):before {
        content: "Request";
    }

    td:nth-of-type(4):before {
        content: "Type";
    }

    td:nth-of-type(5):before {
        content: "Received";
    }

    td:nth-of-type(6):before {
        content: "Status";
    }

}
.centre {
    text-align: right;
    margin-top: 10px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 12px;
    text-decoration: none;
    /* transition: background-color .3s; */
    border: 1px solid #13bea6;
    font-size: 18px;
}

.pagination a.active {
    background-color: #13bea6;
    color: white;
    border: 1px solid #13bea6;
}

.pagination a:hover:not(.active) {
    background-color: #13bea6;
}